{% extends 'base.html' %}

{% block page_content -%}
<div id="pw-change-form">
    <h1>Cambia tu contraseña</h1>
    <h3>Usuario: {{ email }}</h3>
    <h5>Tu contraseña debe tener al menos:</h5>
    <ul>
        <li>Un minimo de 8 caracteres</li>
        <li>Una letra mayuscula</li>
        <li>Una letra minuscula</li>
        <li>Un numero</li>
    </ul>
    </div>
    <form action="{{  url_for('validations_bp.pw_reset')  }}" method="POST">
        <label for="psw">Nueva Contraseña:</label>
        <input 
            type="password" 
            id="psw" 
            name="password" 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Debe contener al menos un numero, una letra mayúscula y minúscula, y al menos 8 caracteres" 
            required
        />
        {%- if error.get('password') %}
        <p class="pw-feedback" style="color: red;">{{ error.password }}</p>
        {%- else %}
        <br />
        {%- endif %}
        <label for="re-psw">Repite tu nueva contraseña:</label>
        <input 
            type="password" 
            id="re-psw" 
            name="re-password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            required
        />
        {%- if error.get('re_password') %}
        <p class="repw-feedback" style="color: red;">{{ error.re_password }}</p>
        {%- else %}
        <br />
        {%- endif %}
        <button type="submit" class="submit-button">Enviar</button>
        <!-- <input type="submit" value="submit"/> -->
    </form>
</div>
{%- endblock page_content %}