$color-primary: #2969b0;
$color-secondary: #3081dd;
$color-success: #67b930;
$color-danger: #e25041;
$color-warning: #fac51c;
$color-bg: #f1f5f7;
$color-info: #17a2b8;

$main-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;