@import 'vars';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $main-font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-bg;
}