<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found page</title>
</head>
<body>
    <h1>NOT FOUND PAGE</h1>
    {%- with messages = get_flashed_messages() %}
    {%- if messages %}
    {%- for message in messages%}
    <p class="not-found-msg">{{ message }}</p>
    {%- endfor %}
    {%- endif%}
    {%- endwith %}
    <h2>go gome...</h2>
    <a href="{{ url_for('landing_bp.index') }}"> inicio </a>
</body>
</html>