{% set navigation_bar= [
    ('/', 'home', 'Inicio'),
    ('/sobre-mi', 'about', 'Sobre Mi'),
    ('/blog/', 'blog', 'Blog'),
    ('/servicios', 'Services', 'Mis Servicios'),
    ('/admin', 'Administrador', 'Administrar DB')
]-%}
{%- set active_page = active_page|default('home') -%}
<nav id="navbar">
    <a href="/" class="logo"><div>Coldy_Logo</div></a>
    <div class="nav-zone">
        {% for href, id, name in navigation_bar -%}
        <a {%- if id == active_page %} class="active" {%- endif %} href="{{ href }}">{{ name|e }}</a>
        {%- endfor %}
    </div>
</nav>